body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.menu {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}
.menu img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  border: 1px solid #04956ef7;
  border-radius: 50%;
}

.menu h2,
h4 {
  text-align: center;
}

.menu p {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.menu ul li {
  margin: 10px 0;
}

.menu button {
  background-color: #04956ef7;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.menu button:hover {
  background-color: #046c51f7;
}

.content {
  padding: 20px;
  box-sizing: border-box;
  background-color: #07503d9f;
}

.content h1 {
  text-align: center;
}

.task-container {
  display: flex;
  justify-content: space-between;
}

.content h1 {
  color: #fff;
}

.task-list {
  width: 45%;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-list h2 {
  text-align: center;
}

.task-list ul {
  list-style-type: none;
  padding: 0;
}

.task-list ul li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.task-list ul li button {
  background-color: rgba(231, 32, 32, 0.871);
  color: white;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 3px;
  width: 80px;
  height: 25px;
}

.task-list ul li .edit-button {
  background-color: rgba(45, 121, 244, 0.904);
}

.add-task {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.add-task input {
  width: 80%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.474);
  border-radius: 5px;
}

.add-task button {
  width: 18%;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background-color: rgba(15, 124, 15, 0.797);
  color: white;
  border-radius: 5px;
}
